<!DOCTYPE html>
<html lang="en" class="h-screen">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/dist/tail-out.css">
    <script src="/static/dist/head-bundle.js"></script>
    <title>Document</title>
</head>

<body class=" min-h-screen flex flex-col justify-between font-sans">
    
        {{> navbar }}
    

    <main class=" flex-1">
        <div class="max-w-screen-xl mx-auto">
            {{{ body }}}
        </div>
    </main>
    <div class=" shrink-0">
        <div class="max-w-screen-2xl mx-auto">
            {{> footer }}
        </div>
    </div>
</body>

</html>