<!DOCTYPE html>
<html lang="en" class=" h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/tail-out.css">
    <script src="/static/head-bundle.js"></script>
    <title>Document</title>
</head>

<body class=" min-h-screen">
    <header class=" max-w-screen-xl mx-auto">
            {{> navbar }}
    </header>

    {{{ body }}}
    {{> footer }}
</body>

</html>