<!DOCTYPE html>
<html lang="en" class="h-screen">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/static/dist/tail-out.css">
    <script src="/static/dist/head-bundle.js"></script>
    <title>Document</title>
</head>

<body id="id-of-body" class=" min-h-screen flex flex-col justify-between font-sans">

    {{> navbar }}

    <main class=" flex-1 dark:bg-slate-600">
        <div class="max-w-screen-xl mx-auto">
            {{{ body }}}
        </div>
    </main>
    <div class="dark:bg-slate-800">
        <div class="max-w-screen-2xl mx-auto">
            {{> footer }}
        </div>
    </div>
    
    <script src="/static/dist/main-bundle.js"></script>
</body>

</html>